/* Importar fuentes */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

/* Variables */
:root {
    /* Colores */
    --color-fondo: #222;
    --color-texto: #fff;
    --color-contorno: #fff;
    --color-boton: #7f0909; /* Color primario de Gryffindor */
    --color-boton-hover: #FFC500; /* Color secundario de Gryffindor */
    --color-footer: #444;
    --color-fondo-semitransparente: rgba(34, 34, 34, 0.7);
    --color-texto-semitransparente: rgba(255, 255, 255, 0.8);

    /* Fuentes */
    --fuente-principal: 'Comfortaa', sans-serif;

    /* Dimensiones */
    --ancho-logo: 90px;
    --ancho-contenedor-encriptador: 600px;
    --ancho-contenedor-mapa-grande: 350px;
    --ancho-contenedor-mapa-mediano: 280px;
    --altura-contenedor-mapa-grande: 660px;
    --altura-contenedor-mapa-mediano: 540px;
    --padding-textarea-grande: 15px;
    --padding-textarea-pequeno: 10px;
}

/* Reset de márgenes y rellenos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos generales del cuerpo */
body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: var(--fuente-principal);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

/* Estilos del encabezado */
.encabezado {
    display: flex;
    justify-content: center;
    background-color: var(--color-footer);
    width: 100%;
    padding: 10px 0;
}

.encabezado h1 {
    margin: 0;
    font-size: 2rem;
}

/* Estilos del main */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilos de la presentación */
.presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.contenido-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 10px;
}

/* Estilos del contenedor del mapa */
.contenedor-mapa {
    display: flex;
    width: var(--ancho-contenedor-mapa-grande);
    height: var(--altura-contenedor-mapa-grande);
    position: relative;
    perspective: 1000px;
    perspective-origin: center;
}

.lado-mapa {
    width: 50%;
    height: 100%;
    background-size: contain;
    background-position: center;
    transition: transform 1s ease;
    backface-visibility: hidden;
}

.lado-izquierdo {
    background-image: url('assets/mapa-izquierda.png');
    transform-origin: left center;
}

.lado-derecho {
    background-image: url('assets/mapa-derecha.png');
    transform-origin: right center;
}

.contenedor-mapa.abierto .lado-izquierdo {
    transform: rotateY(-180deg);
}

.contenedor-mapa.abierto .lado-derecho {
    transform: rotateY(180deg);
}

/* Estilos del botón y contenedor del botón */
.contenedor-boton {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.boton-mapa {
    background-color: var(--color-boton);
    color: var(--color-boton-hover);
    border: 2px solid var(--color-boton-hover);
    padding: 15px 30px;
    font-size: 1.2rem;
    font-family: var(--fuente-principal);
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.boton-mapa:hover {
    background-color: var(--color-boton-hover);
    color: var(--color-boton);
    border: 2px solid var(--color-boton);
}

.boton-mapa:active {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.boton-mapa {
    animation: brillo 3s infinite;
}

@keyframes brillo {
    0%, 100% {
        box-shadow: 0 0 5px var(--color-boton-hover), 0 0 10px var(--color-boton-hover), 0 0 15px var(--color-boton-hover), 0 0 20px var(--color-boton-hover);
    }
    50% {
        box-shadow: 0 0 10px var(--color-boton-hover), 0 0 20px var(--color-boton-hover), 0 0 30px var(--color-boton-hover), 0 0 40px var(--color-boton-hover);
    }
}

/* Estilos del contenedor del encriptador */
.contenedor-encriptador {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    max-width: var(--ancho-contenedor-encriptador);
    background-image: url(assets/casas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    border-radius: 10px;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.contenedor-encriptador.visible {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}

.contenedor-encriptador.oculto {
    display: none;
    opacity: 0;
    transform: translateY(-20px);
}

.texto-entrada, .texto-salida {
    width: 100%;
    padding: var(--padding-textarea-pequeno);
    font-size: 1.2rem;
    margin-bottom: 10px;
    border: 2px solid var(--color-contorno);
    border-radius: 5px;
    background-color: var(--color-fondo-semitransparente);
    color: var(--color-texto-semitransparente);
    resize: none;
}

.texto-salida {
    background-color: #333;
    color: #eee;
}

.botones-encriptador {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.boton-encriptar, .boton-desencriptar, .boton-copiar {
    background-color: var(--color-boton);
    color: var(--color-boton-hover);
    border: 2px solid var(--color-boton-hover);
    padding: 10px 20px;
    font-size: 1rem;
    font-family: var(--fuente-principal);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    flex-grow: 1;
    margin: 0 5px;
}

.boton-encriptar:hover, .boton-desencriptar:hover, .boton-copiar:hover {
    background-color: var(--color-boton-hover);
    color: var(--color-boton);
    border: 2px solid var(--color-boton);
}

/* Estilos del footer */
.footer {
    display: flex;
    background-color: var(--color-footer);
    margin: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: var(--color-texto);
}

.desarrollado {
    margin: 10px;
    font-size: 1rem;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    width: var(--ancho-logo);
    margin-left: 10px;
    padding: 10px;
    object-fit: contain;
}

/* Ajustes de tamaño para dispositivos */
@media (max-width: 1200px) {
    .contenedor-mapa {
        width: var(--ancho-contenedor-mapa-mediano);
        height: var(--altura-contenedor-mapa-mediano);
    }
}

@media (max-width: 1024px) {
    .contenedor-encriptador {
        background-size: cover;
        background-position: center;
        background-color: var(--color-fondo-semitransparente);
    }

    .texto-entrada, .texto-salida {
        padding: var(--padding-textarea-pequeno);
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) {
    .presentacion {
        padding: 20px;
    }

    .boton-mapa {
        font-size: 1.2rem;
        padding: 15px 25px;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .logos {
        flex-direction: column;
        margin-top: 10px;
        align-items: center;
    }

    .logo {
        margin-left: 0;
        margin-bottom: 10px;
    }
}
